services:
  mqtt-ir-module:
    image: docker.home/mqtt-ir-module:create-architecture-and-receiver
    container_name: mqtt-ir-module
    restart: unless-stopped

    devices:
      - "/dev/lirc0:/dev/lirc0"

    volumes:
      - "./data:/data"

    environment:
      - IR_DEVICE=/dev/lirc0
      - LEARN_TIMEOUT_S_DEFAULT=600
      # Optional:
      # - API_KEY=change-me

    ports:
      - "8000:8000"